.information img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.top {
  padding: 10px;
}

.bookmark {
  position: absolute;
  right: 10px;
}

.recipe {
  border: 1px solid black;
  margin: 2% 2% 3% 2%;
  padding: 1rem;
  border-radius: 5px;
}

.recipe h1 {
  margin-bottom: 1rem;
}

.recipe img {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: block;
}

.info {
  margin: auto;
  border: 1px solid black;
  height: 400px;
  width: 95%;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "info info"
    "time nutritions";
}

.inf {
  grid-area: info;
  min-height: 100px;
  margin: 10px 5px 10px;
  width: auto;
  border: 1px solid pink;
}

.cook-time {
  grid-area: time;
  min-height: 200px;
  margin: 5px 10px 5px;
  width: auto;
  border: 1px solid red;
}

.nutritions {
  grid-area: nutritions;
  min-height: 200px;
  margin: 5px 10px 5px;
  width: auto;
  border: 1px solid blue;
}
