* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signin {
  min-height: 100svh;
  border: 1px solid red;
}

img {
  /* margin: auto; */
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  display: block;
  margin: 30px auto 0;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.signin input {
  display: block;
  width: 70%;
  height: 2rem;
  margin: 1rem auto;
  padding: 3px;
}

.forgot-password {
  width: 70%;
  margin: -12px auto 2rem;
  display: block;
  font-size: 12px;
  /* border: 1px solid black; */
}

.sign-up-p {
  text-align: center;
  font-size: 15px;
  margin: 1rem auto;
  /* border: 1px solid black; */
}

.sign-up {
  font-weight: bold;
}
